<footer>
  <div class="footer-header">
    <div class="footer-header-content not-drag">
    </div>
  </div>
  <div class="footer-body">
    <div class="row">
      <div class="col col-md-4 col-12 footer-logo"></div>
      <div class="col col-md-8 col-12 footer-description">
        <p>
          대한정맥통증학회 ⎮ 서울특별시 광진구 아차산로 238<br>
          E-Mail ⎮ america87@naver.com<br>
          Copyright ⓒ Korean Association of Vein Pain. All rights reserved
        </p>
      </div>
    </div>
  </div>
</footer>
