<div class="timetable-wrapper">
  <div class="timetable-nav">
    <div class="timetable-list">
      <div class="content-inner">
        <div class="nav-item"><a [ngClass]="{'active':date===1}" (click)="setDate(1)">2021.12.05 (SUN)</a></div>
      </div>
    </div>
  </div>
  <div class="korea-time-wrapper" *ngIf="koreaTime">
    <div class="korea-time">
      <img src="assets/img/south-korea.png">{{ koreaTime }}
    </div>
  </div>
  <div class="timetable">
    <!-- ! -------------------------Day 1------------------------- -->
    <table class="program" #table1 *ngIf="date === 1" (click)="goVod()">
      <colgroup>
        <col style="width: 10%">
        <col style="width: 50%">
        <col style="width: 20%">
        <col style="width: 20%">
      </colgroup>
      <thead>
        <tr>
          <th>시간</th>
          <th>세션</th>
          <th>발표자</th>
          <th>소속</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="time bg_general">09:00~09:30</td>
          <td class="bg_general">등 록</td>
          <td class="bg_general"></td>
          <td class="bg_general"></td>
        </tr>
        <tr>
          <td class="time bg_general">09:30~09:35</td>
          <td class="bg_general">개회사</td>
          <td class="bg_general font-weight-normal">노환규 회장</td>
          <td class="bg_general font-weight-normal">대한정맥통증학회</td>
        </tr>
        <tr>
          <td class="time bg_general">09:35~09:40</td>
          <td class="bg_general">축 사</td>
          <td class="bg_general font-weight-normal">이상철</td>
          <td class="bg_general font-weight-normal">대한정맥통증학회</td>
        </tr>

        <tr>
          <td class="time bg_general">09:40~13:00</td>
          <td class="bg_general">세션1. Present</td>
          <td class="bg_general"></td>
          <td class="bg_general"></td>
        </tr>
        <tr>
          <td class="time bg_session">09:40~10:45</td>
          <td class="bg_session">"정맥통증치료, 어떻게 하면 더 잘 할 수 있을까"</td>
          <td class="bg_session">좌장 송석원</td>
          <td class="bg_session"></td>
        </tr>
        <tr>
          <td class="time">09:40~09:55</td>
          <td>정맥통증학회에서 권장하는 하지정맥 초음파 검사방법</td>
          <td>송승준</td>
          <td>하트웰의원</td>
        </tr>
        <tr>
          <td class="time">09:55~10:10</td>
          <td>간편하고 정확한 고주파 시술 방법</td>
          <td>노환규</td>
          <td>하트웰의원</td>
        </tr>
        <tr>
          <td class="time">10:10~10:25</td>
          <td>간편하고 정확한 Venaseal 시술 방법</td>
          <td>노환규</td>
          <td>하트웰의원</td>
        </tr>
        <tr>
          <td class="time">10:25~10:35</td>
          <td>질의응답</td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td class="time">10:35~10:45</td>
          <td>Coffee Break</td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td class="time bg_session">10:45~13:00</td>
          <td class="bg_session">"정맥통증치료, 어디까지 적용 가능한가"</td>
          <td class="bg_session">좌장 박창일</td>
          <td class="bg_session"></td>
        </tr>
        <tr>
          <td class="time">10:45~11:00</td>
          <td>허리/둔부 통증</td>
          <td>노환규</td>
          <td>하트웰의원</td>
        </tr>
        <tr>
          <td class="time">11:00~11:15</td>
          <td>무릎/종아리 통증</td>
          <td>박상준</td>
          <td>청담튼튼의원</td>
        </tr>
        <tr>
          <td class="time">11:15~11:30</td>
          <td>발/발바닥 통증</td>
          <td>박상준</td>
          <td>청담튼튼병원</td>
        </tr>
        <tr>
          <td class="time">11:30~11:45</td>
          <td>어깨/목/상지통증 - 나는 어떻게 도수치료와 정맥통증 치료를 접목시켜 치료해 나가는가</td>
          <td>장현동</td>
          <td>현병원</td>
        </tr>
        <tr>
          <td class="time">11:45~12:00</td>
          <td>척추관절병원에서의 정맥통증 치료</td>
          <td>박헌종</td>
          <td>서울예스병원</td>
        </tr>
        <tr>
          <td class="time">12:00~12:10</td>
          <td>질의응답</td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td class="time">12:10~13:00</td>
          <td>중 식</td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td class="time bg_general">13:00~16:10</td>
          <td class="bg_general">세션 2. Challenge</td>
          <td class="bg_general"></td>
          <td class="bg_general"></td>
        </tr>
        <tr>
          <td class="time bg_session">13:00~13:55</td>
          <td class="bg_session">"비혈관 외과의사의 정맥통증 진료"</td>
          <td class="bg_session">좌장 노환규</td>
          <td class="bg_session"></td>
        </tr>
        <tr>
          <td class="time">13:00~13:15</td>
          <td>비혈관 외과의사의 혈관시술 도전기</td>
          <td>정재욱</td>
          <td>대구프롤로의원</td>
        </tr>
        <tr>
          <td class="time">13:15~13:30</td>
          <td>정맥통증진료 1년 경험 나누기</td>
          <td>이성곤</td>
          <td>힘찬나아라정형외과의원</td>
        </tr>
        <tr>
          <td class="time">13:30~13:45</td>
          <td>정맥통증의 영역</td>
          <td>성연재</td>
          <td>하피스의원</td>
        </tr>
        <tr>
          <td class="time">13:45~13:55</td>
          <td>질의응답</td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td class="time bg_session">13:55~15:15</td>
          <td class="bg_session">”이럴 때는 어떻게 하나요?"</td>
          <td class="bg_session">좌장 성연재</td>
          <td class="bg_session"></td>
        </tr>
        <tr>
          <td class="time">13:55~14:10</td>
          <td>피할 수 있는 것은 피하자 - 경화요법 치료 중 생겨날 수 있는 합병증</td>
          <td>심정인</td>
          <td>서울선혈관통증센터</td>
        </tr>
        <tr>
          <td class="time">14:10~14:25</td>
          <td>심부정맥 질환과 동맥질환 - Deep vein reflux / PAD가 동반된 경우</td>
          <td>이윤학</td>
          <td>서울선혈관통증센터</td>
        </tr>
        <tr>
          <td class="time">14:25~14:40</td>
          <td>무릎 아래 대복재정맥 역류에 대한 베나실 치료: Microcatheter를 사용하여</td>
          <td>양우영</td>
          <td>서울선혈관통증센터</td>
        </tr>
        <tr>
          <td class="time">14:40~14:55</td>
          <td>하지정맥부전 환자의 자가 재활운동법</td>
          <td>김병희</td>
          <td>건재활의학과의원</td>
        </tr>
        <tr>
          <td class="time">14:55~15:05</td>
          <td>질의응답</td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td class="time">15:05~15:15</td>
          <td>Coffee Break</td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td class="time bg_session">15:15~16:10</td>
          <td class="bg_session">"정맥부전 찾아내기"</td>
          <td class="bg_session">좌장 이재환</td>
          <td class="bg_session"></td>
        </tr>
        <tr>
          <td class="time">15:15~15:30</td>
          <td>하지불안증후군과 정맥부전</td>
          <td>이윤학, 고동찬</td>
          <td>서울선혈관통증센터</td>
        </tr>
        <tr>
          <td class="time">15:30~15:45</td>
          <td>족저근막염과 정맥통증</td>
          <td>김진수</td>
          <td>세종스포츠정형외과의원</td>
        </tr>
        <tr>
          <td class="time">15:45~16:00</td>
          <td>TAME(Trans-Arterial Micro-Embolization)과 정맥통증</td>
          <td>이상환</td>
          <td>양지병원</td>
        </tr>
        <tr>
          <td class="time">16:00~16:10</td>
          <td>질의응답</td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td class="time bg_general">16:10~16:40</td>
          <td class="bg_general">세션 3. Future</td>
          <td class="bg_general"></td>
          <td class="bg_general"></td>
        </tr>
        <tr>
          <td class="time bg_session">16:10~16:40</td>
          <td class="bg_session">"학회가 나아갈길"</td>
          <td class="bg_session">좌장 김병희</td>
          <td class="bg_session"></td>
        </tr>
        <tr>
          <td class="time">16:10~16:25</td>
          <td>정맥치료의 보험 관련한 이슈</td>
          <td>홍상훈</td>
          <td>삼성바로하지의원</td>
        </tr>
        <tr>
          <td class="time">16:25~16:40</td>
          <td>정맥통증학회가 나아갈 길</td>
          <td>박광선</td>
          <td>서울선정형외과의원</td>
        </tr>

        <tr>
          <td class="time bg_general">16:40~16:50</td>
          <td class="bg_general">폐회사</td>
          <td class="bg_general font-weight-normal">노환규 회장</td>
          <td class="bg_general font-weight-normal">대한정맥통증학회</td>
        </tr>

    </table>
  </div>
</div>

<button #sessionDetailBtn class="session-detail-btn" data-toggle="modal" data-target="#sessionDetailModal">
  session detail modal open
</button>

<!-- ! 세션 상세 모달 -->
<div class="modal session-detail fade" id="sessionDetailModal" data-backdrop="static" role="dialog"
  aria-labelledby="sessionDetailModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-description" *ngIf="selectedAgenda">
          <div class="modal-description-header">
            Session Detail
            <button type="button" class="ml-2 mb-1 close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-description-body" (click)="goLiveV2(selectedAgenda.dateId,selectedAgenda.roomId)">
            <div class="session-info">
              <div class="lt">
                <div class="session-title">
                  <b>{{selectedAgenda.subTitle}}</b>
                </div>
              </div>
              <div class="rt">
                <div class="session-speaker-list">
                  Chairperson:
                  <div class="session-speaker" *ngFor="let speaker of selectedAgenda.speakers">
                    <div class="speaker-name">{{speaker.fullName}}</div>
                    <div class="speaker-company">{{speaker.company}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sub-list" *ngIf="selectedSubList">
              <div *ngFor="let agenda of selectedSubList" class="sub-list-item">
                <div class="sub-agenda-time-wrapper">
                  <div class="sub-agenda-time text-center">
                    {{agenda.startTime}}-{{agenda.endTime}}
                  </div>
                </div>
                <div class="sub-agenda-title-wrapper">
                  <div class="sub-agenda-title" [innerHTML]="agenda.title"></div>
                </div>
                <div class="sub-agenda-speakers-wrapper">
                  <div class="sub-agenda-speakers-container">
                    <div class="sub-agenda-speakers" *ngFor="let speaker of agenda.speakers">
                      <div class="sub-agenda-speaker-name">{{speaker.fullName}}</div>
                      <div class="sub-agenda-speaker-company">{{speaker.company}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
