<div class="content-body">
  <app-banner></app-banner>
  <section class="about">
    <app-about [opt]="true"></app-about>
  </section>

  <section class="program">
    <div class="content-inner">
      <div class="title-wrapper" id="program-title">
        <h2>Program</h2>
      </div>
    </div>
    <div class="content-inner">
      <app-time-table></app-time-table>
    </div>
  </section>

  <section class="speaker">
    <div class="content-wrapper">
      <div class="content-inner">
        <div class="title-wrapper">
          <h2>Speakers</h2>
        </div>
      </div>

      <div class="content-inner">
        <div id="speakerList" class="carousel slide" data-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let speakersItem of speakers; let i = index;"
              [ngClass]="{'active' : i === 0}">
              <div class="speaker-item row m-0">
                <div class="p-2" [ngClass]="mobile? 'col-6': 'col-2'" *ngFor="let speaker of speakersItem">
                  <app-speaker [hidden]="!speaker" [speaker]="speaker" (speakerDetailFn)="getSpeakerDetail($event)"></app-speaker>
                </div>
              </div>
            </div>
          </div>

          <a class="carousel-control-prev slider-btn prev" href="#speakerList" role="button" data-slide="prev">
            <span class="icon-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next slider-btn next" href="#speakerList" role="button" data-slide="next">
            <span class="icon-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="btn-wrapper text-center">
          <button class="content-link view-more" [routerLink]="'/speakers'">
            <span>View more</span>
            <i class="icon-more" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="e-booth">
    <div class="content-wrapper">
      <div class="content-inner">
        <div class="title-wrapper">
          <h2>Sponsors</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0" *ngIf="boothCategories">
            <div class="booth-list" *ngFor="let category of boothCategories; let i = index">
              <div class="list-item" *ngFor="let booth of category.booths">
                <div class="e-booth-btn" [attr.data-target]="'#e-boothModal'" data-toggle="modal">
                  <figure>
                    <img style="max-height:30px;" [src]="booth.photoUrl" alt="{{booth.name}}">
                  </figure>
                </div>
              </div>
            </div>
          </div>
          <div class="btn-wrapper">
            <a class="content-link view-more" [routerLink]="'/e-booth'">
              <span>View more</span>
              <i class="icon-more" aria-hidden="true"></i>
            </a>
          </div>
        </article>
      </div>
    </div>
  </section> -->
</div>

<button #entryAlertBtn class="entry-alert-btn" data-toggle="modal" data-target="#entryAlert">
  entryAlert MODAL Open
</button>

<!-- Entry modal -->
<div class="modal entry-alert fade" id="entryAlert" data-backdrop="static" role="dialog" aria-labelledby="entryAlert"
  tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <!-- <div class="modal-title text-center confirm-title">
          NOTICE
        </div> -->
        <div class="modal-title">
          <img src="../../../assets/img/icon-warning.png">Notice
        </div>
        <div class="modal-description">
          <p class="pop_p">[온라인 강연 다시보기 제공 안내]</p>
          <p class="text-center">
            대한정맥통증학회 제1차 추계학술대회 온라인 강연은<br>
            2021년 12월 07일부터 2022년 01월 06일까지<br>
            1개월 간 다시보기 서비스를 진행합니다.<br><br>
            각 강연마다 댓글 등록을 통해 궁금하신 질문을 남겨 주시면,<br>
            연자 선생님을 통해서 답변을 드리도록 하겠습니다.<br><br>
            녹화된 오프라인 영상은 12월 13일(월)부터 시청이 가능하오니,<br>
            강연 시청에 참고하여 주시기 바랍니다.<br><br>
          </p>
          <div class="text-center shortcut"><a [routerLink]="['/vod']">강연 다시보기 바로가기</a></div><br>
        </div>
        <button type="button" class="btn btn-block confirm-btn" data-toggle="modal" data-target="#entryAlert">
          OK
        </button>
        <button class="btn btn-block btn-no-show" (click)="noModal()" data-toggle="modal" data-target="#entryAlert">
          1시간 동안 이 창을 열지 않음
        </button>
      </div>
    </div>
  </div>
</div>

<!-- speakers modal -->
<div class="modal detail-modal fade" id="speakersModal" tabindex="-1" role="dialog" aria-labelledby="speakersModal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="item-btn" data-dismiss="modal" aria-label="Close">
          <i class="icon-close-w" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body p-0">
        <figure class="speakers" *ngIf="speakerDetail">
          <div class="photo">
            <div class="image-wrapper">
              <img [src]="speakerDetail.photoUrl?speakerDetail.photoUrl:'assets/img/default_lecturer.png'"
                alt="speakerDetail.name">
            </div>
            <div class="item-info">
              <p class="item-name" [innerHTML]="speakerDetail.fullName"></p>
              <p class="item-company" [innerHTML]="speakerDetail.company"></p>
              <span class="item-company-title" [innerHTML]="speakerDetail.title"></span>
            </div>
          </div>
          <figcaption>
            <div class="item-desc" *ngIf="speakerDetail.description">
              <p [innerHTML]="speakerDetail.description"></p>
            </div>
            <ng-container *ngIf="speakerLoaded">
              <app-program-live [speakerId]="speakerDetail.id" [program-live]="speakerDetail.agenda"></app-program-live>
            </ng-container>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>