.about .title-wrapper .welcome-title-image {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-right: 20px;
  background-image: url('/assets/img/welcome-title.png');
  background-size: contain;
  vertical-align: middle;
}


.entry-alert-btn {
  display: none;
}

.modal-dialog {
  max-width: 826px;
}

.entry-alert {

  .modal-content {
    padding: 32px;
    max-width: 60%;
    background: var(--gray16);

    .modal-title {
      color: var(--white);
      font-size: 1.3rem;
      padding-bottom: 8px;
      border-bottom: 1px solid var(--white);

      img {
        width: 6%;
        margin-right: 8px;
      }
    }

    .modal-description {
      padding: 16px 0;

      label {
        font-size: 1.5rem;
        color: var(--yellow1);
      }

      p {
        text-align: center;
        padding: 8px 0;
        font-size: 1.3rem;
        color: var(--white);

        span {
          font-size: 2.2rem;
          line-height: 1.7;
        }
      }

      .pop_p {
        font-size: 1.5rem;
      }
    }

    .confirm-btn {
      height: 50px;
      color: var(--white);
      font-size: 1.5rem;
      font-weight: 600;
      border-radius: 25px;
      background: var(--blue5);
    }

    .btn-no-show {
      margin-top: 16px;
      color: var(--white);
      text-align: right;
    }

    .shortcut {
      font-size: 20px;
      font-weight: bold;
    }
  }
}

.program {

  .sub-title-wrapper {
    padding-bottom: 40px;

    .download {
      padding: 8px 16px;
      font-size: 1.2rem;
      background: var(--blue6);
      border-width: 0;
      border-radius: 8px;
      color: var(--white);

      margin-left: 16px;

      /* 책 아이콘 */
      .icon-book {
        display: inline-block;
        width: 22px;
        height: 16px;
        margin-right: 8px;
        background-image: url(/assets/img/icon-book.png);
        background-size: contain;
        vertical-align: middle;
      }

      /* 다운로드 아이콘 */
      .icon-download {
        padding-left: 16px;
        font-size: 1.4rem;

        &:before {
          color: var(--white);
        }
      }
    }
  }
}

.speaker #speakerList {
  .carousel-item {
    padding: 16px 70px;
    text-align: center;
  }

  .slider-btn {
    position: absolute;
    width: 62px;
    height: 62px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background-color: var(--white);
    color: var(--black);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    &:hover {
      text-decoration: none;
    }

    &.prev {
      left: 0;
    }

    &.next {
      right: 0;
    }
  }
}

.e-booth {
  .list-wrapper {
    display: flex;
    flex-direction: column;

    .booth-list {
      margin-bottom: 16px;
      display: flex;
      width: 100%;
      align-items: center;
      gap: 32px;

      @media screen and (max-width: 900px) {
        gap: 16px !important;

        .list-item {
          width: 100px;

          img {
            max-width: 100%;
          }
        }
      }

      .list-item {
        width: 100%;

        .e-booth-btn {
          display: flex;
          align-items: center;
          height: 100%;
        }
      }

      &:nth-child(1) {
        img {
          max-width: 140px;
        }
      }

      &:nth-child(2) {
        img {
          max-width: 100px;
        }
      }

      &:nth-child(3) {
        img {
          max-width: 80px;
        }
      }
    }
  }

  figure {
    width: 100%;
    margin: 0;

    display: flex;
    justify-content: center;
  }

  /* e-booth item content */
  .e-booth-info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 16px;
    background: var(--gray9);
    min-height: 74px;
    max-height: 74px;

    >p {
      margin-bottom: 2px;
      font-size: 1.25rem;
    }

    span {
      display: inline-block;
    }

    .item-name {
      font-size: 1.2rem;
      font-weight: bold;
      word-break: break-all;
      line-height: 1.2em;
      margin-bottom: 4px;

      &.center {
        text-align: center;
      }
    }
  }

}

/* e-booth modal */
figure {
  padding: 6px 0;
  font-size: 1.33rem;
  color: var(--gray16);

  .image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px 18px;

    img {
      max-height: 100%;
    }
  }

  figcaption {
    padding: 16px 0;
  }
}

.item-info {
  padding: 16px;

  h3 {
    margin-bottom: 16px;
  }

  a {
    display: block;
  }

  .home-link {
    margin-bottom: 28px;
    color: var(--gray22);
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;

    &:hover {
      color: var(--blue8);
      text-decoration: underline;
    }
  }

  .download {
    display: inline-flex;
    min-width: 120px;
    max-width: 270px;
    margin-top: 8px;
    padding: 8px;
    color: #333;
    font-size: 14px;
    background: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);

    .ellipsis {
      max-width: 100%;
    }
  }

  .item-name {
    margin-bottom: 8px;
    font-weight: bold;
    text-align: left;
  }
}

.item-desc {
  padding: 16px;
  border-top: 3px solid var(--gray16);

  &>p {
    margin-bottom: 0;
    word-break: break-all;
  }
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 32px;

  .view-more {
    display: flex;
    position: relative;
    justify-content: flex-start;
    width: 167px;
    height: 38px;
    padding: 0 16px;
    background: var(--gray2);
    color: var(--gray12);
    font-size: 1.2rem;
    border: none;
    line-height: 38px;

    .icon-more {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      font-size: 10px;
    }
  }
}

@media (max-width: 1024px) {

  .speaker-item .col-2 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }

  figure {
    flex-wrap: wrap;
  }

  .modal.detail-modal .item-info {
    min-height: 15vh;
  }
}

@media (max-width: 575px) {
  .sub-title-wrapper {
    padding-bottom: 16px;

    &>div:first-child {
      margin-bottom: 8px;
    }

    .text-right button {
      margin: 16px auto;
      display: block;
      width: 100%;
      max-width: 300px;
    }
  }

  .speaker #speakerList {
    .carousel-item {
      padding: 0 40px;
    }

    .slider-btn {
      width: 40px;
      height: 40px;
    }
  }

  @media (max-width: 575px) {
    .modal.detail-modal .modal-content .modal-body {
      .image-wrapper {
        flex: 0 0 40%;
        max-width: 40%;
      }
    }
  
    .list-item {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}

.modal.detail-modal .modal-content .modal-body {
  overflow: auto;

  /*modalcontent*/

  figure.speakers {
    text-align: center;

    .photo {
      display: flex;
      padding: 24px;
    }

    figcaption {
      padding: 0;
      background: var(--white);
      text-align: left;
    }
  }

  a {
    display: block;
  }

  .image-wrapper {
    flex: 0 0 25%;
    max-width: 25%;
    height: 100%;
    padding-right: 16px;
  }

  .item-info {
    text-align: left;

    >p {
      font-size: 1.25rem;
      margin-bottom: 8px;
    }

    .item-name {
      margin-bottom: 8px;
      font-size: 1.33rem;
      font-weight: bold;
      text-align: left;
    }


    .item-company-title {
      display: inline-block;
      font-size: 1.16rem;
    }

  }

  .item-desc {
    padding: 24px;
    font-size: 1.2rem;
    border-top: 2px solid var(--gray18);

    &>p {
      margin-bottom: 0;
      word-break: break-word;
    }
  }
}
